version: '2'
services:
  mariadb:
    image: mariadb:5.5.58
    environment:
      MYSQL_ROOT_PASSWORD: changeme
      TZ: Europe/Copenhagen
    volumes:
    - helpdesk-eionet-mysql:/var/lib/mysql
    - helpdesk-eionet-backups:/backups
    mem_reservation: 4294967296
    command:
    - mysqld
    - --default_storage_engine=InnoDB
    - --character-set-server=utf8
    - --collation-server=utf8_general_ci
    - --init-connect=SET NAMES utf8
    - --innodb_log_file_size=256M
    - --innodb_buffer_pool_size=3GB
    - --max_allowed_packet=20M
    - --bulk_insert_buffer_size=20M
    - --query_cache_size=32M
    - --skip-character-set-client-handshake
    - --skip-host-cache
    - --wait_timeout=600
    networks:
      - helpdesk-eionet-network
    labels:
      io.rancher.scheduler.affinity:host_label: hostname=changeme

  otrs-frontend:
    image: eeacms/eea-otrs:v6.0.27-5
    hostname: helpdesk
    environment:
      LANG: en_US.UTF-8
      LANGUAGE: en_US.UTF-8
      LC_ALL: en_US.UTF-8

      LDAP_HOST: changeme
      LDAP_PASSWORD: changeme

      MAIL_ADDRESSES: '@changeme @changeme'
      MTP_RELAY: postfix
      MYSQL_ROOT_PASSWORD: changeme

      OTRS_DB_PASSWORD: changeme
      OTRS_ROOT_PASSWORD: changeme

      SERVER_NAME: changeme
      TRUSTED_DOMAIN: changeme
      TZ: Europe/Copenhagen

      OPENIDPROVIDERISSUER: https://keycloak-instance/realms/my_realm
      OPENIDCLIENTSECRET: secret
      OPENIDCLIENTID: client_id
      OPENIDCRYPTOPASS: passs
      OPENIDREDIRECTURI: https://myotrsinstance/otrs
      OPENIDDEFAULTLOGOUTURL: https://google.com

    volumes:
    - staging-helpdesk-eionet-kernel-config-6:/opt/otrs/Kernel
    - staging-helpdesk-eionet-backups:/backups
    - /etc/localtime:/etc/localtime:ro
    - staging-helpdesk-eionet-article:/article
    - staging-helpdesk-eionet-tmp:/opt/otrs/var/tmp
    - staging-helpdesk-eionet-js-cache:/opt/otrs/var/httpd/htdocs/js/js-cache
    - staging-helpdesk-eionet-css-cache:/opt/otrs/var/httpd/htdocs/skins/Agent/default/css-cache
    domainname: eionet.europa.eu

  otrs-backend:
    image: eeacms/eea-otrs:v6.0.27-5
    hostname: helpdesk
    environment:
      LANG: en_US.UTF-8
      LANGUAGE: en_US.UTF-8
      LC_ALL: en_US.UTF-8
      LDAP_HOST: changeme
      LDAP_PASSWORD: changeme
      MAIL_ADDRESSES: '@changeme @changeme'
      MASTER: 'true'
      MTP_RELAY: postfix
      MYSQL_ROOT_PASSWORD: changeme
      OTRS_DB_PASSWORD: changeme
      OTRS_ROOT_PASSWORD: changeme
      SERVER_NAME: changeme
      TRUSTED_DOMAIN: changeme
      TZ: Europe/Copenhagen
    volumes:
    - staging-helpdesk-eionet-kernel-config-6:/opt/otrs/Kernel
    - staging-helpdesk-eionet-backups:/backups
    - /etc/localtime:/etc/localtime:ro
    - staging-helpdesk-eionet-article:/article
    - staging-helpdesk-eionet-tmp:/opt/otrs/var/tmp
    domainname: changeme
    labels:
      io.rancher.scheduler.affinity:host_label: changeme


  postfix:
    image: eeacms/postfix:eionet
    environment:
      MTP_PASS: changeme
      MTP_RELAY: changeme
      MTP_USER: changeme
      TZ: Europe/Copenhagen
    networks:
      - helpdesk-eionet-network
    labels:
      io.rancher.scheduler.affinity:host_label: hostname=changeme

volumes:
    helpdesk-eionet-backups:
       driver: local
    helpdesk-eionet-mysql:
       driver: local
    helpdesk-eionet-kernel-config:
       driver: local


networks:
  helpdesk-eionet-network:
    driver: bridge
#    driver_opts:
#      com.docker.network.driver.mtu: 1450

