version: '2'
services:
  mariadb:
    image: mariadb:5.5.58
    environment:
      MYSQL_ROOT_PASSWORD: changeme
      TZ: Europe/Copenhagen
    volumes:
    - helpdesk-eionet-mysql:/var/lib/mysql
    - helpdesk-eionet-backups:/backups
    mem_reservation: 4294967296
    command:
    - mysqld
    - --default_storage_engine=InnoDB
    - --character-set-server=utf8
    - --collation-server=utf8_general_ci
    - --init-connect=SET NAMES utf8
    - --innodb_log_file_size=256M
    - --innodb_buffer_pool_size=3GB
    - --max_allowed_packet=20M
    - --bulk_insert_buffer_size=20M
    - --query_cache_size=32M
    - --skip-character-set-client-handshake
    - --skip-host-cache
    - --wait_timeout=600
    networks:
      - helpdesk-eionet-network
    labels:
      io.rancher.scheduler.affinity:host_label: hostname=changeme

  otrs:
    mem_limit: 3221225472
    image: eeacms/eea-otrs:v1.1.28
    hostname: helpdesk
    environment:
      LDAP_HOST: changeme
      LDAP_PASSWORD: changeme
      MAIL_ADDRESSES: '@myhost.mydomain @url_service'
      MTP_RELAY: postfix
      OTRS_DB_PASSWORD: changeme
      OTRS_ROOT_PASSWORD: changeme
      MYSQL_ROOT_PASSWORD: changeme #must match with above
      SERVER_NAME: myserver
      TRUSTED_DOMAIN: mydomain
      TZ: Europe/Copenhagen
    depends_on:
      - "mariadb"
      - "postfix"
    volumes:
    - helpdesk-eionet-kernel-config:/opt/otrs/Kernel
    - helpdesk-eionet-backups:/backups
    - /etc/localtime:/etc/localtime:ro
    - /etc/pki/tls/certs/server-eionet.crt:/ssl/server.crt:ro
    - /etc/pki/tls/private/server-eionet.key:/ssl/server.key:ro
    - /etc/pki/tls/certs/server-chain-eionet.crt:/ssl/server-chain.crt:ro
    domainname: changeme
    ports:
    - 80:80
    - 443:443
    - '25:25'
    networks:
      - helpdesk-eionet-network
    labels:
      io.rancher.scheduler.affinity:host_label: hostname=changeme

  postfix:
    image: eeacms/postfix:eionet
    environment:
      MTP_PASS: changeme
      MTP_RELAY: changeme
      MTP_USER: changeme
      TZ: Europe/Copenhagen
    networks:
      - helpdesk-eionet-network
    labels:
      io.rancher.scheduler.affinity:host_label: hostname=changeme

volumes:
    helpdesk-eionet-backups:
       driver: local
    helpdesk-eionet-mysql:
       driver: local
    helpdesk-eionet-kernel-config:
       driver: local


networks:
  helpdesk-eionet-network:
    driver: bridge
#    driver_opts:
#      com.docker.network.driver.mtu: 1450

